@import "../libs/functions";
@import "../libs/mixins";

.wrapper {
	padding: 5vh 0;
}

.container {
	display: flex;
	gap: rem(50);
	align-items: center;
	@include media('max', 'width', 1259.98) {
		flex-direction: column;
	}
}

.examples {
	flex-shrink: 0;
	display: grid;
	gap: rem(30);
	@media (max-width: 1259.98px) and (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
}
