@import "../libs/functions";
@import "../libs/mixins";

.wrapper {
	display: grid;
	max-width: rem(400);
	margin: 0 auto;
	padding: 15vh 10px;
	gap: rem(50) 0;
}

.controls {
	display: flex;
	justify-content: space-between;
	margin: 0 rem(-5);
}

.switcher {
	padding: rem(5);
	border: 0;
	background: transparent;
	font-family: var(--font-title);
	font-size: rem(20);
	font-weight: 500;
	color: var(--fc-title);
	@include media('min', 'width', 380) {
		font-size: rem(24);
	}
}

.switcher_active {
	position: relative;
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: rem(2);
		left: 0;
		bottom: 0;
		border-radius: rem(1);
		background-color: var(--accent);
	}
}

.form {
	display: grid;
	gap: rem(30) 0;
}

.button {
	padding: rem(10) rem(15);
	border: 0;
	border-radius: rem(10);
	background-color: var(--accent);
	font-family: inherit;
	font-size: rem(16);
	font-weight: 500;
	transition: background-color 0.1s ease-in 0s;
	@include media('min', 'width', 380) {
		font-size: rem(18);
	}
	&:hover {
		background-color: var(--accent-light);
	}
	&:active {
		background-color: var(--accent-dark);
	}
}
